<tr>
    <th><label for="id_email">Email address:</label></th>
    <td><input type="email" name="email" maxlength="254" id="id_email"></td>
</tr>
<tr>
    <th><label for="id_username">Username:</label></th>
    <td><input type="text" name="username" maxlength="150" required id="id_username"><br><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></td>
</tr>
<tr>
    <th><label for="id_password">Password:</label></th>
    <td><input type="password" name="password" required id="id_password"></td>
</tr>
<tr>
    <th><label for="id_first_name">First name:</label></th>
    <td><input type="text" name="first_name" maxlength="150" id="id_first_name"></td>
</tr>
<tr>
    <th><label for="id_last_name">Last name:</label></th>
    <td><input type="text" name="last_name" maxlength="150" id="id_last_name"></td>
</tr>
<tr>
    <th><label for="id_mobile_number">Mobile number:</label></th>
    <td><input type="text" name="mobile_number" maxlength="12" required id="id_mobile_number"></td>
</tr>
<tr>
    <th><label for="id_profile_pic">Profile pic:</label></th>
    <td><input type="file" name="profile_pic" accept="image/*" id="id_profile_pic"></td>
</tr>
<tr>
    <th><label for="id_dob">Dob:</label></th>
    <td><input type="text" name="dob" maxlength="10" required id="id_dob"></td>
</tr>
<tr>
    <th><label for="id_gender">Gender:</label></th>
    <td><select name="gender" required id="id_gender">
  <option value="" selected>---------</option>

  <option value="M">Male</option>

  <option value="F">Female</option>

</select></td>
</tr>