<p><label for="id_mobile_number">Mobile number:</label> <input type="text" name="mobile_number" maxlength="12" required id="id_mobile_number"></p>
<p><label for="id_profile_pic">Profile pic:</label> <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic"></p>
<p><label for="id_hospital_name">Hospital name:</label> <input type="text" name="hospital_name" maxlength="70" id="id_hospital_name"></p>
<p><label for="id_degree_type">Degree type:</label> <select name="degree_type" required id="id_degree_type">
            <option value="" selected>---------</option>

            <option value="MBBS">Bachelor of Medicine, Bachelor of Surgery(MBBS)</option>

            <option value="BDS">Bachelor of Dental Surgery(BDS)</option>

            <option value="BAMS">Bachelor of Ayurvedic Medicine and Surgery(BAMS)</option>

            <option value="BUMS">Bachelor of Unani Medicine and Surgery(BUMS)</option>

            <option value="BHMS">Bachelor of Homeopathy Medicine and Surgery(BHMS)</option>

            <option value="BYNS">Bachelor of Yoga and Naturopathy Sciences(BYNS)</option>

            <option value="B.V.Sc &amp; AH">Bachelor of Veterinary Sciences and Animal Husbandry(BVSc&amp;AH)</option>

            <option value="MD">Doctor of Medicine(MD)</option>

            <option value="MS">Master of Surgery(MS)</option>

            <option value="DM">Doctorate of Medicine(DM)</option>

        </select></p>
<p><label for="id_specialities_type">Specialities type:</label> <select name="specialities_type" required id="id_specialities_type">
            <option value="" selected>---------</option>

            <option value="ENT">Ear, Nose and Throat</option>

            <option value="GS">General Surgery</option>

            <option value="OP">Ophthalmology</option>

            <option value="OR">Orthopaedics</option>

            <option value="OAG">Obstetrics and Gynaecology</option>

            <option value="DVL">Dermatology, Venerology and Leprosy</option>

            <option value="AST">Anaesthesiology</option>

            <option value="PSY">Psychiatry</option>

            <option value="PTH">Pathology</option>

            <option value="SVD">Skin and Venereal diseases</option>

            <option value="PHRM">Pharmacology</option>

            <option value="PMR">Physical Medicine and Rehabilitation</option>

            <option value="PHY">Physiology</option>

            <option value="CRD">Cardiology</option>

            <option value="PDT">Paediatrics</option>

        </select></p>
<p><label for="id_dob">Dob:</label> <input type="text" name="dob" maxlength="10" required id="id_dob"></p>
<p><label for="id_gender">Gender:</label> <select name="gender" required id="id_gender">
            <option value="" selected>---------</option>

            <option value="M">Male</option>

            <option value="F">Female</option>

        </select></p>
<p><input type="email" name="email" maxlength="254" id="id_email"></p>
<p> <input type="text" name="username" maxlength="150" required id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_
            only.</span></p>
<input type="password" name="password" required id="id_password"></p>
<input type="text" name="first_name" maxlength="150" id="id_first_name">
<input type="text" name="last_name" maxlength="150" id="id_last_name">